/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
@import "tailwindcss";


* {
    margin: 0px;
    padding: 0px;
    /* position: sticky; */
}


.app-wrapper {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    /* optional overlay */
}